<div class= "center hero-unit">
<h1>Quiz Questions by Category</h1>
  <% unless @questions.empty? %>
    
    <% @categories.each do |category| %>
    </br>
      <h2><%= category.category_name %></h2>
        <% category.questions.each do |question| %>

          <div class= "well">
            <ul>
              <li>
                <%= question.question_text %>
                </br>
                <% if question.user == current_user %>
                  <%= link_to "delete", question, method: :delete %> /
                  <%= link_to "edit", edit_question_path(question)%> 
                  <%#= link_to "edit", {:controller => "questions", :action => "edit", :id => question.id, :question_text => question.question_text, :category_id => question.category.id } %> /
                  <%= link_to "show", question_path(question) %> 
                <% end %>
              </li>
            </ul>
          </div>
        <% end %>
    <% end %>
  <% else %>
    <h2>
      You don't have created any Questions yet. To do so, please go <%= link_to "here", new_question_path %>!
    </h2>   
  <% end %>
</div>