<div class= "center hero-unit">
  <% unless @questions.empty? %>
    <h1>Quiz Questions by Category</h1>
    <% @categories.each do |category| %>
    </br>
      <h2><%= category.category_name %></h2>
        <% category.questions.each do |question| %>

          <div class= "well">
            <ul>
              <li>
                <%= question.question_text %>
                </br>
                <%= link_to(question, method: :delete, class: "btn btn-small btn-danger") do %> 
                Delete
                  <i class="icon-trash icon-white"></i>
                <% end %>
                <%= link_to(edit_question_path(question), class: "btn btn-small btn-warning") do %>
                Edit
                    <i class="icon-edit icon-white"></i>
                <% end %>
                <%= link_to(question_path(question), class: "btn btn-small btn-success") do %> 
                Show
                  <i class="icon-search icon-white"></i>
                <% end %>
              </li>
            </ul>
          </div>
        <% end %>
    <% end %>
  <% else %>
    <h2>
      You don't have created any Questions yet. To do so, please go <%= link_to "here", new_question_path %>!
    </h2>   
  <% end %>
</div>