<div class= "center hero-unit">
<h1> Details for your question:</h1>
</br>
<h3>Question Data</h3>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th colspan="1"> Question Text </th>
      <th colspan="1"> Question Category </th>
      <th colspan="1"> Actions </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @question.question_text %></td>
      <td><%= @question.category.category_name %></td>
      <td>
        <%= link_to "edit", edit_question_path(@question) %> /
        <%= link_to "delete", @question, method: :delete %>
      </td>
    </tr> 
  </tbody>
</table>  

</br>
<h3>Corresponding answers</h3>

<p>
<table class="table table-striped table-bordered table-condensed">
<thead>
  <tr>
    <th colspan="1"> Answer Number </th>
    <th colspan="1"> Answer Text </th>
    <th colspan="1"> Answer Status </th>
    <th colspan="1"> Actions </th>
  </tr>
</thead>
  
  <% @question.answers.each_with_index do |answer, index| %>
  <tbody>
    <tr>
      <td><%= index+1 %></td>
      <td><%=  answer.answer_text %></td>
      <td>
         <% if answer.correct == 0 %>
          Incorrect
         <% else %>
          Correct
         <% end %>
     </td>
      <td>
        <% if answer.correct == 0 %>
          <%= link_to "correct", {:controller => "questions", :action => "set_correct_answer", :answer => {:id => answer.id, :answer_text => answer.answer_text} } %> /
        <% else %>
          <%= link_to "incorrect", {:controller => "questions", :action => "set_incorrect_answer", :answer => {:id => answer.id, :answer_text => answer.answer_text} } %> /
        <% end %>
        <%= link_to "edit", edit_question_answer_path(answer.question,answer) %> /
        <%= link_to "delete", answer, method: :delete %>
      </td>
    </tr> 
  </tbody>
  <% end %>
</table>  
</br>
  <h2>
    If you want more answers, you can add some 
    <%= link_to "here", {:controller => "answers", :action => "new", :question => @question} %> . 
  </h2> 
  <div> 
    <%= link_to(quizzes_path, class: "btn btn-large btn-primary") do %>
      Back to quizzes
    <% end %>
  
        <div class="float" >
      <%= back_to_questions_list %>
    </div>
  </div>
</br>
</div>