<%= form_for @quiz do |f| %>
  <% if @quiz.errors.any? %>
    <%= flash[:error] = "There are some errors!" %>
    <ul>
      <% @quiz.errors.full_messages.each do |msg| %>
        <li><%=  msg %></li>
      <% end %>
    </ul>
  <% end %>
</br>

  <fieldset>
    <div class="control-group">
    <%= f.label :quiz_name %>
      <div class="controls">
        <%= f.text_field :quiz_name %>
      </div>
    </div>
    <div class="control-group">
    <%= f.label :description %>
      <div class="controls">
        <%= f.text_area :description %>
      </div>
    </div>
    <div>
      <%= hidden_field_tag 'category_id', @category.id %>
    </div>
    <% if @category.questions.empty? %>
      You don't have created any questions for this category yet. </br> Go <%= link_to "here", new_question_path %> to do so and come back then!
    <% else %>
      <div class="control-group">
      <%= f.label :questions %>
        <div class="controls">
            <%= f.select :question_ids, @category.questions.collect {|x| [x.question_text, x.id]},{}, :multiple => true %>
        </div>
      </div>
      <div>
        <%= f.submit class: "btn btn-large btn-success" %>
      </div>  
   <% end %>
  </fieldset>
<% end %>