<div class= "center hero-unit">
<h1><%= @quiz.quiz_name %></h1>
<h2><%= @quiz.description %></h2>
<h3>Question <%= @number + 1 %> of <%= @length_of_quiz %></h3>

</br>
  <%= form_tag({:controller => "quizzes",:action => "question"}) do %>

    <h3>Question: </h3>
    <p>
      <%= @current_question.question_text %>
    </p>
    </br>
    <h3>Given Answer:</h3>
    <p>
      <%= @answer_choice.answer_text %>
    </p>
    <div>
      <%= hidden_field_tag(:id, @quiz.id) %>
    </div>
    <% if @number + 1 == @length_of_quiz %>
      <%= link_to "Score",{:controller => "quizzes", :action => "score", :id => @quiz.id}, class: "btn btn-large btn-primary" %>
       
    <% else %>
      <div>
        <%= submit_tag "Next Question", class: "btn btn-large btn-success" %>
      </div>
    <% end %>
  <% end %>
</div>