<div class= "center hero-unit">
<h1><%= @quiz.quiz_name %></h1>
<h2><%= @quiz.description %></h2>
</br>
  <%= form_tag({:controller => "quizzes",:action => "answer"}) do %>

  <h3>Question <%= @number + 1 %> / <%= @length_of_quiz %>:</h3>
  <p>
  <%= @current_question.question_text %>
  </p>
  </br>

  <h3>Answers: 
    <p>
      <% @answers.each do |answer| %>
        <%= radio_button_tag(:answer, answer.id) %>
        <%= label_tag("answer", answer.answer_text) %>
      <% end %>
    </p>
  </h3>
    <div>
      <%= hidden_field_tag(:id, @quiz.slug) %>
    </div>

    <% if @number + 1 == @length_of_quiz %>
      <div>
        <%= submit_tag "Show score", class: "btn btn-large btn-success" %>
      </div>
    <% else %>
      <div>
        <%= submit_tag "Submit answer & continue", class: "btn btn-large btn-success" %>
      </div>
    <% end %>

  <% end %>

</div>
