<div class= "center hero-unit">
<h1>Your Score</h1>
You took the following quiz: <%= @quiz.quiz_name %>.</br> You answered <%= @score %> questions correctly which amounts to <%= @percent %>%! What do you want to do now?
</br>
</br>
<div>
  <%= link_to(quizzes_path, class: "btn btn-large btn-primary") do %>
        Take another quiz!
  <% end %>
  <div class="float">
    <%= link_to(start_quiz_path(@quiz.id), class: "btn btn-large btn-info") do %>
          Try again!
    <% end %>
  </div>
</div>
    