<div class= "center hero-unit">
<h1>Your Score</h1>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th colspan="1"> Quiz </th>
      <th colspan="1"> Correct answers </th>
      <th colspan="1"> Percentage </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @quiz.quiz_name %></td>
      <td><%=  @score %>/<%= @length_of_quiz %></td>
      <td><%= @percent %>%</td>
    </tr> 
  </tbody>
</table>  
</br>
<div>
  <%= link_to(quizzes_path, class: "btn btn-large btn-primary") do %>
        Take another quiz!
  <% end %>
  <div class="float">
    <%= link_to(start_quiz_path(@quiz.id), class: "btn btn-large btn-info") do %>
          Try again!
    <% end %>
  </div>
</div>
    