<div class= "center hero-unit">
<h1>Quiz Details</h1>
</br>
<div class="well">
<h2>Quiz Data:</h2>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th colspan="1"> Name </th>
      <th colspan="1"> Category </th>
      <th colspan="1"> Description </th>
      <th colspan="1"> Created by </th>
      <% if @quiz.user == current_user %>
        <th colspan="1"> Actions </th>
      <% end %>
    </tr>
  </thead>
   <tbody>
    <tr>
      <td><%= @quiz.quiz_name %></td>
      <td><%= @quiz.category.category_name %></td>
      <td><%= @quiz.description %></td>
      <td><%= link_to @quiz.user.username, user_path(id: @quiz.user.slug) %></td>
      
      <% if @quiz.user == current_user %>
        <td>
          <%= link_to "edit", edit_quiz_path(@quiz) %>
        </td>
      <% end %>
    </tr> 
  </tbody>
</table>  
</br>
<h2>Questions:</h2>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th colspan="1"> Question Number </th>
      <th colspan="1"> Question Text </th>
      <th colspan="1"> Answers </th>
      <% if @quiz.user == current_user %>
        <th colspan="1"> Actions </th>
      <% end %>
    </tr>
  </thead>
<% @quiz.questions.each_with_index do |question, index| %>
  <tbody>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= question.question_text %></td>
      <td>
      <% question.answers.each do |answer| %>
        <ul>
          <li><%=  answer.answer_text %></li>
        </ul>
      <% end %>
      </td>
      <% if question.user == current_user %>
        <td>
          <%= link_to "details", question_path(question)%></br></br>  
          <%= link_to "edit", edit_question_path(question) %>
        </td>
      <% end %>
    </tr> 
  </tbody>
<% end %>
</table> 
</div>
</br>
<div class="well">
  <%= form_for [@quiz, Review.new] do |f| %>
    <fieldset>
      <h2>Rate this quiz</h2>
      <%= f.select :rating, options_for_select([10,9,8,7,5,4,3,2,1].map {|number| [pluralize(number, "Star")]}) %>
      <br/>
      <h2>Write Review</h2>
      
      <%= f.text_area :content, rows: 8, class: "span8" %>
    </fieldset>
    </br>
    <fieldset class="actions clearfix">
      <%= f.submit class: "btn btn-large btn-success" %>
      <%= link_to "Cancel", @quiz %>
    </fieldset>
    <header>
      </br>
      <h2>User Reviews (<%= @reviews.count %>)</h2>
    </header>
    
      <% @reviews.each do |review| %>
      <ul>
        <article class="review">
          <li>
              <span>Rating: <%= review.rating %> / 10</span>
              <p>
                by
                <%= link_to review.user.username, user_path(id: review.user.slug) %>
              </p>
            <div>
              <p>
                <%= review.content %>
              </p>
            </div>
          </li>
        </article>
      </ul>
      <% end %>
    </ul>
  <% end %>
</div>
</br>
  <div>  
    <div class="float" >
      <%= back_to_quizzes_list %>
    </div>     
  </div>
</br>
</div>